@use "var.scss";

* {
  font-family: var.$secondary-font;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: var.$primary-font;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

section {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 100vh;
    margin-left: 5vw;
  }
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  font-size: 1rem;
  font-weight: 100;
  color: var.$primary;
  padding: 5px 20px;
  border: 1px solid var.$primary;
  border-radius: 8px;
  background-color: transparent;
  &:hover {
    font-weight: 300;
  }
}

.dark-btn {
  font-size: 1rem;
  font-weight: 100;
  color: var.$dark-bg;
  padding: 5px 20px;
  border: 1px solid var.$dark-bg;
  border-radius: 8px;
  background-color: transparent;
  &:hover {
    font-weight: 300;
  }
}