// Variables of colors

$primary :      #fff;
$secondary:     #000;
$darkOpacity:   rgba(0, 0, 0, 0.25);
$dark-bg:       #181818;
$light-grey:    #989898;


// Variables font

$primary-font:    'Poiret One', cursive;
$secondary-font:  'Roboto', sans-serif;


// Variables responsive

$res-phone:         'maw-width: 575px';

$res-tablet:        'min-width: 576px';
$max-res-tablet:    'max-width: 768px';

$res-desktop:       'min-width: 769px';