/* header */
.dark-header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px #fff;
  position: sticky;
  top: 0;
}
.dark-header .primary-logo {
  padding-left: 20px;
  width: 100px;
  filter: invert(1);
}

/* Dark-Nav phone/tablet */
@media screen and (max-width: 768px) {
  .dark-menu-wrap {
    position: fixed;
    right: 0;
  }
  .dark-menu-wrap .toggler {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .dark-menu-wrap .hamburger {
    /*  Hamburger line */
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .dark-menu-wrap .hamburger div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.4s ease;
    /*  top line */
    /* bottom line */
  }
  .dark-menu-wrap .hamburger div:before {
    content: "";
    position: absolute;
    top: -10px;
    width: inherit;
    height: inherit;
    background: inherit;
  }
  .dark-menu-wrap .hamburger div:after {
    content: "";
    position: absolute;
    top: 10px;
    width: inherit;
    height: inherit;
    background: inherit;
  }

  /*  toggler animate */
  .toggler:checked + .hamburger div {
    transform: rotate(135deg);
    /*  Turn lines into X */
  }
  .toggler:checked + .hamburger div:before {
    top: 0;
    transform: rotate(90deg);
  }
  .toggler:checked + .hamburger div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .toggler:checked ~ .hamburger {
    /*  Hamburger line */
  }
  .toggler:checked ~ .hamburger div {
    background-color: #fff;
    transition: all 0.4s ease;
    /*  top line */
    /* bottom line */
  }
  .toggler:checked ~ .hamburger div:before {
    background: inherit;
  }
  .toggler:checked ~ .hamburger div:after {
    background: inherit;
  }

  /* Position of Menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: #000;
  }
  .menu h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: #fff;
    margin: 50px;
  }
  .menu .links-items li {
    margin-left: 50px;
    padding: 15px;
  }
  .menu .links-items li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
  }
  .menu .logo {
    align-self: center;
    margin-top: 40px;
  }
  .menu .logo img {
    width: 200px;
  }
  .menu .dark-footer {
    align-self: center;
    margin-top: 50px;
  }
  .menu .dark-footer a {
    margin: 0 10px;
    text-decoration: none;
  }
  .menu .dark-footer a i {
    color: #fff;
    width: 25px;
    height: auto;
  }

  /* Show menu */
  .dark-menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
}
/* Responsive Dark-Nav Desktop */
@media screen and (min-width: 769px) {
  .dark-header .primary-logo {
    margin-left: 5vw;
    filter: invert(1);
  }
  .dark-header h2, .dark-header .toggler, .dark-header .logo {
    display: none;
  }

  .dark-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dark-ul li {
    padding: 0 20px;
  }
  .dark-ul li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  .dark-ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  .dark-ul li a:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  .dark-ul li a:hover:before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  .dark-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 5%;
    height: 100vh;
    padding-bottom: 10px;
    border-left: 1px solid #c3c3c3;
  }
  .dark-footer a {
    text-decoration: none;
    margin: 10px;
  }
  .dark-footer a i {
    color: #000;
  }

  .dark-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    border-right: 1px solid #c3c3c3;
  }

  .content {
    width: 47vw;
    align-self: center;
  }
}
/* header */
header {
  display: flex;
  background-color: transparent;
  position: fixed;
  top: 0;
}
header .primary-logo {
  padding-left: 20px;
  width: 100px;
}

/* Nav phone/tablet */
@media screen and (max-width: 768px) {
  .menu-wrap {
    position: fixed;
    right: 0;
  }
  .menu-wrap .toggler {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    /*  Hamburger line */
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .menu-wrap .hamburger div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s ease;
    /*  top line */
    /* bottom line */
  }
  .menu-wrap .hamburger div:before {
    content: "";
    position: absolute;
    top: -10px;
    width: inherit;
    height: inherit;
    background: inherit;
  }
  .menu-wrap .hamburger div:after {
    content: "";
    position: absolute;
    top: 10px;
    width: inherit;
    height: inherit;
    background: inherit;
  }

  /*  toggler animate */
  .toggler:checked + .hamburger div {
    transform: rotate(135deg);
    /*  Turn lines into X */
  }
  .toggler:checked + .hamburger div:before {
    top: 0;
    transform: rotate(90deg);
  }
  .toggler:checked + .hamburger div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Position of Menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: #000;
  }
  .menu h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: #fff;
    margin: 50px;
  }
  .menu .links-items li {
    margin-left: 50px;
    padding: 15px;
  }
  .menu .links-items li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
  }
  .menu .logo {
    align-self: center;
    margin-top: 40px;
  }
  .menu .logo img {
    width: 200px;
  }
  .menu .footer {
    align-self: center;
    margin-top: 50px;
  }
  .menu .footer a {
    margin: 0 10px;
    text-decoration: none;
  }
  .menu .footer a i {
    color: #fff;
    width: 25px;
    height: auto;
  }

  /* Show menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
}
/* Responsive Nav Desktop */
@media screen and (min-width: 769px) {
  header .primary-logo {
    margin-left: 5vw;
  }
  header h2, header .toggler, header .logo {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul li {
    padding: 0 20px;
  }
  nav ul li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  nav ul li a:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  nav ul li a:hover:before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 5%;
    height: 100vh;
    padding-bottom: 10px;
    border-left: 1px solid #fff;
  }
  .footer a {
    text-decoration: none;
    margin: 10px;
  }
  .footer a i {
    color: #fff;
  }

  .line {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    border-right: 1px solid #fff;
  }

  .content {
    width: 47vw;
    align-self: center;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Poiret One", cursive;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

section .container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 100vh;
  margin-left: 5vw;
}

button {
  background-color: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
}
.btn:hover {
  font-weight: 300;
}

/* no video for phone and tablet */
@media screen and (max-width: 768px) {
  video {
    display: none;
  }

  .home:before {
    content: "";
    background: url("../img/home.jpg") no-repeat 60%/cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}
/* Home Custom */
.home {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home .branding {
  width: 100%;
}
.home .branding div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home .branding div h1 {
  margin-top: 30%;
  color: #fff;
  text-align: right;
}
.home .branding div p {
  width: 231px;
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
  text-align: right;
  margin: 20px 0;
}
.home .branding div a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1441px) {
  .home .branding div {
    width: 30%;
  }
  .home .branding div h1 {
    font-size: 6rem;
  }
  .home .branding div p {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .home .branding div {
    width: 40%;
  }
  .home .branding h1 {
    font-size: 6vw;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .home .branding div {
    width: 50vw;
  }
  .home .branding div h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 425px) {
  .home .branding div {
    width: 80%;
  }
  .home .branding div h1 {
    font-size: 3.5rem;
  }
}

/* Responsive */
@media screen and (min-width: 769px) {
  video {
    object-fit: cover;
    min-width: 120vw;
    min-height: 150vh;
    position: fixed;
    top: -15vh;
    left: 0;
    z-index: -1;
  }
}
/* testimonials Carousel */
.testimonial {
  justify-self: flex-start;
  align-self: flex-end;
}
.testimonial .btn-show {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.testimonial .btn-show i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.testimonial .btn-show span {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  margin: 0 10px;
}
.testimonial .carousels {
  height: 0px;
}

.carousels-content {
  display: flex;
  width: 90vw;
}
.carousels-content button {
  margin: 10px;
}
.carousels-content button i {
  color: #fff;
  opacity: 0;
}
.carousels-content .slide {
  display: flex;
}
.carousels-content .slide .card {
  margin: 0 10px;
  width: 100px;
  height: 200px;
}
.carousels-content .slide .card p {
  padding-top: 130%;
  padding-left: 10%;
  padding-bottom: 10px;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1rem;
}
.carousels-content .slide .card:hover {
  background-size: 115%;
}
.carousels-content .slide .card:hover p {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
}
.carousels-content .slide .card-01 {
  background: url("../img/cards/card01.jpg") no-repeat center/cover;
}
.carousels-content .slide .card-02 {
  background: url("../img/cards/card02.jpg") no-repeat center/cover;
}
.carousels-content .slide .card-03 {
  background: url("../img/cards/card03.jpg") no-repeat center/cover;
}
.carousels-content .slide .card-04 {
  background: url("../img/cards/card04.jpg") no-repeat center/cover;
}
.carousels-content .slide .card-05 {
  background: url("../img/cards/card05.jpg") no-repeat center/cover;
}

/* responsive carousel */
@media screen and (min-width: 581px) {
  .carousels-content {
    width: 500px;
  }
  .carousels-content button i {
    opacity: 1;
  }
  .carousels-content .card {
    width: 200px;
    height: 300px;
  }
}
/* full details cards */
.close-details {
  transform: scale(0);
  height: 0px;
  width: 0px;
}

.detail-cards {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  z-index: 4;
}
.detail-cards .head-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #181818;
  height: 20vh;
}
@media screen and (max-width: 768px) {
  .detail-cards .dark-footer {
    display: none;
  }
}

.details-body {
  position: fixed;
  top: 0;
  width: 90vw;
  height: 100vh;
  margin-left: 5vw;
  border-left: 1px solid #c3c3c3;
}
.details-body .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  padding: 0 25px;
}
.details-body .head img {
  width: 100px;
  height: auto;
}
.details-body .head button img {
  width: 40px;
}
.details-body .details-body-content {
  display: flex;
  flex-wrap: wrap;
}
.details-body .details-body-content .img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.details-body .details-body-content .img-container img {
  filter: drop-shadow(5px 5px 4px rgba(78, 78, 78, 0.25));
}
@media screen and (min-width: 1024px) {
  .details-body .details-body-content .img-container img {
    height: 80vh;
  }
}
@media screen and (max-width: 1024px) {
  .details-body .details-body-content .img-container img {
    height: 70vh;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 848px) {
  .details-body .details-body-content .img-container img {
    height: 65vh;
  }
}
@media screen and (max-width: 768px) {
  .details-body .details-body-content .img-container img {
    height: 300px;
    margin-top: 20px;
  }
}
.details-body .details-body-content .details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.details-body .details-body-content .details-container p {
  text-align: justify;
}
.details-body .details-body-content .details-container i, .details-body .details-body-content .details-container a {
  color: #181818;
}
.details-body .details-body-content .details-container a:hover span {
  color: #033a7e;
}
@media screen and (min-width: 1025px) {
  .details-body .details-body-content .details-container h2 {
    font-size: 3.5rem;
    margin-bottom: 40px;
  }
  .details-body .details-body-content .details-container p {
    text-align: justify;
    padding: 10px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .details-body .details-body-content .details-container h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: -150px;
  }
  .details-body .details-body-content .details-container p {
    font-size: 0.9rem;
  }
}
.details-body .details-body-content .details-container i {
  margin: 10px 5px;
}
.details-body .details-body-content .details-container i span {
  margin-left: 20px;
  font-weight: 300;
}
@media screen and (min-width: 769px) {
  .details-body .details-body-content {
    flex-direction: row-reverse;
  }
  .details-body .details-body-content .img-container {
    width: 50%;
  }
  .details-body .details-body-content .details-container {
    width: 50%;
    height: 100vh;
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .details-body {
    border: none;
  }
}
@media screen and (max-width: 575px) {
  .details-container i, .details-container a {
    display: none;
  }
}
.index {
  z-index: 2;
}

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: url("../img/banner.png") no-repeat right/cover;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px #fff;
  z-index: 1;
}
.banner ul {
  display: flex;
  margin-left: 5vw;
  color: #fff;
}
.banner ul li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 0 10px;
}

/* About us */
.about {
  margin: 0 5vw;
}
.about h2 {
  font-size: 3rem;
  padding: 50px 0;
}
.about .about-detail {
  margin: 20px 0;
}
.about .about-detail p {
  padding-bottom: 20px;
  font-size: 1rem;
  text-align: justify;
}

/* Section Team*/
.team {
  margin: 0 5vw;
}
.team h3 {
  margin-top: 100px;
  padding: 30px 0;
}
.team .team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team .team-container .team-card {
  height: 500px;
  width: 290px;
  margin: 20px;
  box-shadow: 0 3px 5px #c3c3c3;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #eaeaea;
}
.team .team-container .team-card .bg-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
  filter: grayscale(1);
}
.team .team-container .team-card .pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid #eaeaea;
  margin-top: -90px;
  position: relative;
}
.team .team-container .team-card .info-team h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  color: #181818;
}
.team .team-container .team-card .info-team span {
  font-size: 1.2rem;
  color: #c3c3c3;
  margin-left: -10px;
}
.team .team-container .team-card .info-team span i {
  margin: 5px;
}
.team .team-container .team-card .info-team p {
  font-size: 0.8rem;
  padding: 10px 30px;
  color: #181818;
}
.team .team-container .team-card .info-team .team-icons {
  margin-top: 15px;
}
.team .team-container .team-card .info-team .team-icons a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #c3c3c3;
  padding: 0 5px;
}
.team .team-container .team-card .info-team .team-icons a:hover {
  color: #181818;
}

/* Section Values*/
.values {
  margin: 0 5vw;
}
.values h3 {
  margin-top: 100px;
  padding: 30px 0;
}
.values .values-detail {
  margin: 20px 0;
}
.values .values-detail p {
  padding: 10px 0;
  font-size: 1rem;
  text-align: justify;
}

/* Responsive */
@media screen and (max-width: 575px) {
  .banner {
    height: 10vh;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 15vh;
  }
}
@media screen and (min-width: 769px) {
  .banner {
    height: 20vh;
    background-position: bottom;
  }
  .banner ul {
    margin-bottom: 20px;
  }
}
/* About us */
.about {
  padding: 0 20px;
}
.about .resp-about img {
  height: auto;
}

.team {
  padding: 0 20px;
}

.values {
  padding: 0 20px;
}

@media screen and (min-width: 1025px) {
  .about .resp-about {
    display: flex;
    flex-direction: row-reverse;
  }
  .about .resp-about .img-about {
    position: relative;
    width: 50%;
    background-image: -moz-linear-gradient(right, white 7%, rgba(255, 255, 255, 0) 50%);
    background-image: -webkit-linear-gradient(left, white 7%, rgba(255, 255, 255, 0) 50%);
  }
  .about .resp-about .img-about:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/about.jpg") no-repeat center/cover;
    z-index: -1;
  }
  .about .resp-about .img-about img {
    display: none;
  }
  .about .resp-about .about-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .about .resp-about .about-detail p {
    margin-right: 10%;
  }

  .values {
    margin-bottom: 50px;
  }
  .values .resp-values {
    display: flex;
    flex-direction: row-reverse;
  }
  .values .resp-values .img-values {
    position: relative;
    width: 50%;
    background-image: -moz-linear-gradient(right, white 7%, rgba(255, 255, 255, 0) 50%);
    background-image: -webkit-linear-gradient(left, white 7%, rgba(255, 255, 255, 0) 50%);
  }
  .values .resp-values .img-values:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/values.jpg") no-repeat center/cover;
    z-index: -1;
  }
  .values .resp-values .img-values img {
    display: none;
  }
  .values .resp-values .values-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: 10%;
  }
}
.service {
  height: 100%;
  background-image: -moz-linear-gradient(right, white 30%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(left, white 30%, rgba(255, 255, 255, 0) 100%);
  padding-bottom: 50px;
}
.service:before {
  content: "";
  position: fixed;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url("../img/service.jpg") no-repeat right/cover;
  filter: grayscale(1);
  opacity: 50%;
}
.service h2 {
  font-size: 2.8rem;
  padding-left: 10vw;
  padding-top: 10vh;
}
.service .serv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5vw;
}
.service .serv-container h3 {
  width: 100%;
  text-align: center;
  margin: 125px 0;
}
.service .serv-container .service-card {
  margin: 25px;
  width: 250px;
  height: 325px;
}
.service .serv-container .service-card p {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.25);
  font-family: "Poiret One", cursive;
  font-size: 2.5rem;
  color: #fff;
}
.service .serv-container .service-card:hover {
  background-size: 115%;
  cursor: pointer;
}
.service .serv-container .service-card:hover p {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
}
.service a {
  position: fixed;
  bottom: 7px;
  right: 6vw;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}
.service a i {
  padding: 5px 7px;
  border: 1px solid #000;
  border-radius: 50%;
}

.service01 {
  background: url("../img/service/service01.png") no-repeat center/cover;
}

.service02 {
  background: url("../img/service/service02.png") no-repeat center/cover;
}

.service03 {
  background: url("../img/service/service03.png") no-repeat center/cover;
}

.service04 {
  background: url("../img/service/service04.png") no-repeat center/cover;
}

.service05 {
  background: url("../img/service/service05.png") no-repeat center/cover;
}

.service06 {
  background: url("../img/service/service06.png") no-repeat center/cover;
}

.service07 {
  background: url("../img/service/service07.png") no-repeat center/cover;
}

.service08 {
  background: url("../img/service/service08.png") no-repeat center/cover;
}

.service09 {
  background: url("../img/service/service09.png") no-repeat center/cover;
}

.service10 {
  background: url("../img/service/service10.png") no-repeat center/cover;
}

.service11 {
  background: url("../img/service/service11.png") no-repeat center/cover;
}

.service12 {
  background: url("../img/service/service12.png") no-repeat center/cover;
}

.service13 {
  background: url("../img/service/service13.png") no-repeat center/cover;
}

.service14 {
  background: url("../img/service/service14.png") no-repeat center/cover;
}

.service15 {
  background: url("../img/service/service15.png") no-repeat center/cover;
}

.service16 {
  background: url("../img/service/service16.png") no-repeat center/cover;
}

.service17 {
  background: url("../img/service/service17.png") no-repeat center/cover;
}

.service18 {
  background: url("../img/service/service18.png") no-repeat center/cover;
}

.service19 {
  background: url("../img/service/service19.png") no-repeat center/cover;
}

/*# sourceMappingURL=main.css.map */
